<mat-progress-bar *ngIf="addCustomerService.loading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Add Customer</h1>
<div mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="addCustomerService.saveCustomer(userForm, user, dialogRef)">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Customer
          </mat-panel-title>
          <mat-panel-description>
            General information about Customer
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field class="mr-16" appearance="outline">
            <mat-label>First Name</mat-label>
            <input formControlName="firstName" matInput>
            <!--<mat-hint>Please enter a name</mat-hint>-->
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input formControlName="lastName" matInput>
            <!--<mat-hint>Please enter a name</mat-hint>-->
          </mat-form-field>
        </div>
    
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>E-Mail</mat-label>
            <input formControlName="email" matInput>
            <!--<mat-hint>Please enter Street + House No.</mat-hint>-->
          </mat-form-field>
        </div>
    
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Street + House No.</mat-label>
            <input formControlName="street" matInput>
            <!--<mat-hint>Please enter Street + House No.</mat-hint>-->
          </mat-form-field>
        </div>
    
        <div>
          <mat-form-field appearance="outline" class="mr-16">
            <mat-label>Zip Code</mat-label>
            <input formControlName="zipCode" matInput>
            <!--<mat-hint>Please enter Zip Code</mat-hint>-->
          </mat-form-field>
    
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input formControlName="city" matInput>
            <!--<mat-hint>Please enter City</mat-hint>-->
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Further Details
          </mat-panel-title>
          <mat-panel-description>
            Information about Customer potential
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Customer interest in cooperation</mat-label>
            <mat-select formControlName="interest" >
              <mat-option *ngFor="let interest of interestList" [value]="interest">{{interest}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="mr-16">
            <mat-label>Liquidation check</mat-label>
            <mat-select formControlName="liquidation" >
              <mat-option *ngFor="let liquidation of liquidationList" [value]="liquidation">{{liquidation}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Liquidation Score [%]</mat-label>
            <input formControlName="liquidationScore" matInput>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Customer reasons to work together</mat-label>
            <mat-select formControlName="reasons" multiple>
              <mat-select-trigger>
                {{reasons.value?.[0] || ''}}
                <span *ngIf="(reasons.value?.length || 0) > 1" class="example-additional-selection">
                  (+{{(reasons.value?.length || 0) - 1}} {{reasons.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let reason of reasonList" [value]="reason">{{reason}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Reason for aquisition</mat-label>
            <mat-select formControlName="aquisition" >
              <mat-option *ngFor="let aquisition of aquisitionList" [value]="aquisition">{{aquisition}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </mat-expansion-panel>
    </mat-accordion>












    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button type="submit" [disabled]="addCustomerService.loading" mat-button cdkFocusInitial>Save</button>
    </div>
  </form>
</div>