<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Edit Project</h1>
<div mat-dialog-content>
  <form [formGroup]="projectForm" (ngSubmit)="editProjectService.saveProject(projectForm, data.project, dialogRef, false, data.projectId)">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Project
          </mat-panel-title>
          <mat-panel-description>
            General information about Project
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field class="mr-16" appearance="outline">
            <mat-label>Project Name</mat-label>
            <input formControlName="projectName" matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of editProjectService.statusList" [value]="status"
                >{{ status }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>related Customer</mat-label>
            <mat-select formControlName="customer" >
              <mat-option *ngFor="let user of data.allUsers" [value]="data.project.customer"
              >{{user.firstName}} {{ user.lastName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Project Details</mat-label>
            <input formControlName="details" matInput>
          </mat-form-field>
        </div>
      </mat-expansion-panel>


    </mat-accordion>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button type="submit" [disabled]="loading" mat-button cdkFocusInitial>Save</button>
    </div>
  </form>
</div>
