<mat-card class="user-detail-header">
    <mat-card-content>
        <button mat-icon-button class="pin-right-upper-corner" [mat-menu-trigger-for]="userMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="editUserMenu()">Edit</button>
        </mat-menu>

        <div class="initial-circle" [style.backgroundColor] = "backgroundColor">
            {{ userInitials }}
        </div>
        <div class="user-details">
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <span>{{user.email}}</span>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="user-detail-content">
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ user.street }} <br>
        {{ user.zipCode }} {{ user.city }} <br>
        {{ user.email }}
    </mat-card-content>
</mat-card>

<mat-card class="user-detail-content">
    <mat-card-header>
        <mat-card-title>Customer potential</mat-card-title>
    </mat-card-header>
    <mat-card-content class="customer-potential-details">
        <div class="detail-group">
            <div class="detail">
                <h3>Is Customer interested in working together?</h3>
                <b>{{ user.interest }}</b>
            </div>
    
            <div class="detail">
                <h3>Is Customer liquid?</h3>
                <b>{{ user.liquidation }}</b>
            </div>
        </div>

        <div class="detail-group">
            <div class="detail">
                <h3>Value of Customer liquidationscore?</h3>
                <b>{{ user.liquidationScore }} %</b>
            </div>
    
            <div class="detail">
                <h3>Reasons for us to work with the Customer?</h3>
                <b>{{ user.aquisition }}</b>
            </div>
        </div>

        
        <div class="detail">
            <h3>Reasons of the Customer to work with us:</h3>
            <div class="customer-potential-reasons" *ngFor="let reasons of user.reasons"><b>{{ reasons }}</b></div>
        </div>

    </mat-card-content>
</mat-card>