<mat-card>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>E-Mail</th>
        <th>Interest</th>
        <th>Liquidation</th>
        <th>Liquidation Score</th>
        <!--<th>Reason</th>-->
        <th>Aquisition</th>
        <th>Status</th>
      </tr>
  
      <tr *ngFor="let user of allUsers"  [routerLink]="['/user/' + user.id]">
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.interest }}</td>
        <td>{{ user.liquidation }}</td>
        <td>{{ user.liquidationScore }} %</td>
        <!--<div *ngFor="let reason of user.reasons">
          <td >{{ reason }} </td>
        </div>-->
        <td>{{ user.aquisition }}</td>
        <td>
          <span class="material-symbols-outlined">
          <mat-icon [ngClass]="{'green': user.status >= 70, 'yellow': user.status < 70 && user.status >= 50, 'red': user.status < 50}">fiber_manual_record</mat-icon>
          </span>
        </td>

      </tr>
    </table>
</mat-card>


<div class="add-button-container">
    <button (click)="openDialog()" mat-fab color="primary" matTooltip="Add user">
      <mat-icon>add</mat-icon>
    </button>
