<div class="add-button-container">
  <button (click)="openDialog()" mat-fab color="primary" matTooltip="Add project">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="project-container">
  <mat-card class="project-card" *ngFor="let project of allProjects" [routerLink]="['/project/' + project.id]">
    <mat-card-header>
      <mat-card-title>{{ project.projectName }}</mat-card-title>
      <mat-card-subtitle>Project status: {{project.status}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Customer: {{ project.customer }}</p>
    </mat-card-content>
  </mat-card>
</div>
