.add-button-container {
    position: absolute;
    right: 56px;
    bottom: 56px;

    @media screen and (max-width: 500px) {
        right: -75px;
        top: 20px;
        bottom: unset;
    }
}

.project-card {
    min-height: 100px;
    min-width: 150px;
    width: 300px;
    cursor: pointer;
}

.project-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 25px;
    column-gap: 25px;

    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(1 , 1fr);
    }
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
    padding: unset;
}
